<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.TbSysUserMapper" >
  <resultMap id="BaseResultMap" type="com.travel.model.TbSysUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR" />
    <result column="last_update_datetime" property="lastUpdateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    "user_id", "user_password", "user_name", "memo", "is_active", "create_user_id", "create_datetime", 
    "last_update_user_id", "last_update_datetime"
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.travel.model.TbSysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "public"."tb_sys_user"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from "public"."tb_sys_user"
    where "user_id" = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from "public"."tb_sys_user"
    where "user_id" = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.travel.model.TbSysUserExample" >
    delete from "public"."tb_sys_user"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.model.TbSysUser" >
    insert into "public"."tb_sys_user" ("user_id", "user_password", "user_name", 
      "memo", "is_active", "create_user_id", 
      "create_datetime", "last_update_user_id", "last_update_datetime"
      )
    values (#{userId,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{isActive,jdbcType=BIT}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{lastUpdateUserId,jdbcType=VARCHAR}, #{lastUpdateDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.travel.model.TbSysUser" >
    insert into "public"."tb_sys_user"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        "user_id",
      </if>
      <if test="userPassword != null" >
        "user_password",
      </if>
      <if test="userName != null" >
        "user_name",
      </if>
      <if test="memo != null" >
        "memo",
      </if>
      <if test="isActive != null" >
        "is_active",
      </if>
      <if test="createUserId != null" >
        "create_user_id",
      </if>
      <if test="createDatetime != null" >
        "create_datetime",
      </if>
      <if test="lastUpdateUserId != null" >
        "last_update_user_id",
      </if>
      <if test="lastUpdateDatetime != null" >
        "last_update_datetime",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null" >
        #{lastUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDatetime != null" >
        #{lastUpdateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.model.TbSysUserExample" resultType="java.lang.Integer" >
    select count(*) from "public"."tb_sys_user"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "public"."tb_sys_user"
    <set >
      <if test="record.userId != null" >
        "user_id" = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        "user_password" = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        "user_name" = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        "memo" = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null" >
        "is_active" = #{record.isActive,jdbcType=BIT},
      </if>
      <if test="record.createUserId != null" >
        "create_user_id" = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null" >
        "create_datetime" = #{record.createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUserId != null" >
        "last_update_user_id" = #{record.lastUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDatetime != null" >
        "last_update_datetime" = #{record.lastUpdateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "public"."tb_sys_user"
    set "user_id" = #{record.userId,jdbcType=VARCHAR},
      "user_password" = #{record.userPassword,jdbcType=VARCHAR},
      "user_name" = #{record.userName,jdbcType=VARCHAR},
      "memo" = #{record.memo,jdbcType=VARCHAR},
      "is_active" = #{record.isActive,jdbcType=BIT},
      "create_user_id" = #{record.createUserId,jdbcType=VARCHAR},
      "create_datetime" = #{record.createDatetime,jdbcType=TIMESTAMP},
      "last_update_user_id" = #{record.lastUpdateUserId,jdbcType=VARCHAR},
      "last_update_datetime" = #{record.lastUpdateDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.model.TbSysUser" >
    update "public"."tb_sys_user"
    <set >
      <if test="userPassword != null" >
        "user_password" = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        "user_name" = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        "memo" = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        "is_active" = #{isActive,jdbcType=BIT},
      </if>
      <if test="createUserId != null" >
        "create_user_id" = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        "create_datetime" = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null" >
        "last_update_user_id" = #{lastUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDatetime != null" >
        "last_update_datetime" = #{lastUpdateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where "user_id" = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.model.TbSysUser" >
    update "public"."tb_sys_user"
    set "user_password" = #{userPassword,jdbcType=VARCHAR},
      "user_name" = #{userName,jdbcType=VARCHAR},
      "memo" = #{memo,jdbcType=VARCHAR},
      "is_active" = #{isActive,jdbcType=BIT},
      "create_user_id" = #{createUserId,jdbcType=VARCHAR},
      "create_datetime" = #{createDatetime,jdbcType=TIMESTAMP},
      "last_update_user_id" = #{lastUpdateUserId,jdbcType=VARCHAR},
      "last_update_datetime" = #{lastUpdateDatetime,jdbcType=TIMESTAMP}
    where "user_id" = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>