<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.VwUserAuthProgMapper" >
  <resultMap id="BaseResultMap" type="com.travel.model.VwUserAuthProg" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="prog_id" property="progId" jdbcType="VARCHAR" />
    <result column="prog_name_tw" property="progNameTw" jdbcType="VARCHAR" />
    <result column="parent_prog_id" property="parentProgId" jdbcType="VARCHAR" />
    <result column="prog_url" property="progUrl" jdbcType="VARCHAR" />
    <result column="prog_icon" property="progIcon" jdbcType="VARCHAR" />
    <result column="prog_sort" property="progSort" jdbcType="INTEGER" />
    <result column="prog_type" property="progType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    "user_id", "user_name", "prog_id", "prog_name_tw", "parent_prog_id", "prog_url", 
    "prog_icon", "prog_sort", "prog_type"
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.travel.model.VwUserAuthProgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "public"."vw_user_auth_prog"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.travel.model.VwUserAuthProgExample" >
    delete from "public"."vw_user_auth_prog"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.model.VwUserAuthProg" >
    insert into "public"."vw_user_auth_prog" ("user_id", "user_name", "prog_id", 
      "prog_name_tw", "parent_prog_id", "prog_url", 
      "prog_icon", "prog_sort", "prog_type"
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{progId,jdbcType=VARCHAR}, 
      #{progNameTw,jdbcType=VARCHAR}, #{parentProgId,jdbcType=VARCHAR}, #{progUrl,jdbcType=VARCHAR}, 
      #{progIcon,jdbcType=VARCHAR}, #{progSort,jdbcType=INTEGER}, #{progType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.travel.model.VwUserAuthProg" >
    insert into "public"."vw_user_auth_prog"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        "user_id",
      </if>
      <if test="userName != null" >
        "user_name",
      </if>
      <if test="progId != null" >
        "prog_id",
      </if>
      <if test="progNameTw != null" >
        "prog_name_tw",
      </if>
      <if test="parentProgId != null" >
        "parent_prog_id",
      </if>
      <if test="progUrl != null" >
        "prog_url",
      </if>
      <if test="progIcon != null" >
        "prog_icon",
      </if>
      <if test="progSort != null" >
        "prog_sort",
      </if>
      <if test="progType != null" >
        "prog_type",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="progId != null" >
        #{progId,jdbcType=VARCHAR},
      </if>
      <if test="progNameTw != null" >
        #{progNameTw,jdbcType=VARCHAR},
      </if>
      <if test="parentProgId != null" >
        #{parentProgId,jdbcType=VARCHAR},
      </if>
      <if test="progUrl != null" >
        #{progUrl,jdbcType=VARCHAR},
      </if>
      <if test="progIcon != null" >
        #{progIcon,jdbcType=VARCHAR},
      </if>
      <if test="progSort != null" >
        #{progSort,jdbcType=INTEGER},
      </if>
      <if test="progType != null" >
        #{progType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.model.VwUserAuthProgExample" resultType="java.lang.Integer" >
    select count(*) from "public"."vw_user_auth_prog"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "public"."vw_user_auth_prog"
    <set >
      <if test="record.userId != null" >
        "user_id" = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        "user_name" = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.progId != null" >
        "prog_id" = #{record.progId,jdbcType=VARCHAR},
      </if>
      <if test="record.progNameTw != null" >
        "prog_name_tw" = #{record.progNameTw,jdbcType=VARCHAR},
      </if>
      <if test="record.parentProgId != null" >
        "parent_prog_id" = #{record.parentProgId,jdbcType=VARCHAR},
      </if>
      <if test="record.progUrl != null" >
        "prog_url" = #{record.progUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.progIcon != null" >
        "prog_icon" = #{record.progIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.progSort != null" >
        "prog_sort" = #{record.progSort,jdbcType=INTEGER},
      </if>
      <if test="record.progType != null" >
        "prog_type" = #{record.progType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "public"."vw_user_auth_prog"
    set "user_id" = #{record.userId,jdbcType=VARCHAR},
      "user_name" = #{record.userName,jdbcType=VARCHAR},
      "prog_id" = #{record.progId,jdbcType=VARCHAR},
      "prog_name_tw" = #{record.progNameTw,jdbcType=VARCHAR},
      "parent_prog_id" = #{record.parentProgId,jdbcType=VARCHAR},
      "prog_url" = #{record.progUrl,jdbcType=VARCHAR},
      "prog_icon" = #{record.progIcon,jdbcType=VARCHAR},
      "prog_sort" = #{record.progSort,jdbcType=INTEGER},
      "prog_type" = #{record.progType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>